@import url(https://fonts.googleapis.com/css?family=Montserrat);

$header-bg-primary: #9B9B9B;
$font-primary: #282828;
$font-light: #E2E2E2;

html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    overflow: hidden;
}

h1, h2{
   color: $font-primary;
   text-align: center;
   line-height: 7vh;
}

h2{
  font-size: 2.5em;
}

.bg {
  height: 100vh;
  background-image: url("img/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}


.upper-container{
  margin: 60px auto 0px;
  height:50%;
  width: 100%;
  display: flex;
   flex-direction: column;
   justify-content: center;
}

.logo{
  padding: 10% 0;
  margin: auto;
  line-height: 120px;
  font-size: calc(120px + (180 - 120) * ((100vw - 300px) / (1600 - 300)));
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) *
  ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
}

.lower-container{
  position:absolute;
  bottom:0;
  width:100%;
  padding: 0px 0px 30px;
}

.audioplayer-container{
  margin: auto;
  text-align: center;
    iframe{
      max-width: 600px;
      min-width: 400px;
      margin: 0 auto;
    }}

.break{
 width: 500px;
 margin: 40px auto;
 border-top: 2px solid $font-primary;
}

.subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.bc-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-height: 8vh;
  vertical-align: middle;
  border: 2px solid $font-primary;
  border-radius: 12px;
  background-color: white;
}

.outer{
  width: 100%;
  text-align: center;
}
.social-icon-container{
  display: inline;
}

.icon{
  max-width: 11vw;
  min-width: 80px;
}
